---
layout: layouts/base.njk
section: work
permalink: /work/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

module.exports = function(eleventyConfig) {
  // Get only content that matches a tag
  eleventyConfig.addCollection("work", function(collection) {
    return collection.getFilteredByTags("futuregov");
  });
};
